html,
body {
    height:100%;
    font-size:12px;
    width:100%;
}

html {
    display:table;
}

/* portrait */
/* @media screen and (max-aspect-ratio: 1/1) */
.app {
    background-position:center top;
    height:100px;              /* adds enough room for text */
    padding:180px 0px 0px 0px; /* background height - shadow offset */
}

/* lanscape (when wide enough) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:445px) {
    .app {
        background-position:left center;
        height:140px;       /* height + padding = background image size */
        padding-left:170px; /* background width */
        padding-top:60px;   /* center the text */
    }
}
